---
layout: default
title: "Blog"
nav: blog
permalink: /archive.html
content_class: archive
eyebrow: "Notes & Essays"
tagline: "Writing on genomics, data science, and the craft of building medicines."
description: "Blog posts by Shicheng Guo, Ph.D."
---

<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-item">
    <span class="post-item__date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <span>
      <a class="post-item__title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
      {% if post.description %}<span class="post-item__excerpt">{{ post.description }}</span>{% endif %}
    </span>
  </li>
  {% endfor %}
</ul>
