<aside class="author">
  <img class="author__avatar" src="{{ site.url }}/assets/images/Dr.Shicheng.Guo.jpg" alt="Shicheng Guo">
  <h2 class="author__name">Shicheng Guo, Ph.D.</h2>
  <p class="author__role">Senior Director</p>
  <p class="author__org">Translational Genetics &amp; Data Science<br>Arrowhead Pharmaceuticals</p>

  <p class="author__bio">Statistical &amp; computational geneticist using AI, biobank-scale genetics, and real-world evidence to discover targets and advance RNA-based precision medicine.</p>

  <hr class="author__divider">

  <p class="author__meta"><i class="fa-solid fa-location-dot"></i> California, USA</p>

  <ul class="author__links">
    <li><a href="mailto:Shihcheng.Guo@gmail.com"><i class="fa-solid fa-envelope"></i> Email</a></li>
    <li><a href="https://scholar.google.com/citations?user=BixB4TsAAAAJ&hl=en"><i class="fa-solid fa-graduation-cap"></i> Google Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/shicheng-guo-b5724925"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://github.com/Shicheng-Guo"><i class="fa-brands fa-github"></i> GitHub</a></li>
    <li><a href="https://www.researchgate.net/profile/Shicheng_Guo"><i class="fa-brands fa-researchgate"></i> ResearchGate</a></li>
    <li><a href="https://twitter.com/ShichengGuo"><i class="fa-brands fa-x-twitter"></i> Twitter / X</a></li>
    <li><a href="https://bsky.app/profile/shihcheng.bsky.social"><i class="fa-brands fa-bluesky"></i> Bluesky</a></li>
  </ul>
</aside>
